@function sum($num){
	@return $num/20;
}
span{
	font-family:"iconfont";
}
#top{
	height:sum(386rem);
	img{
		height:sum(386rem);
		width:100%;
	}
}
#cou{
	height:sum(34rem);
	background:#fedf47;
	b{
		float:left;
		margin-left:sum(15rem);
		margin-top:sum(5rem);
		font-size:sum(20rem);
	}
	span{
		float:left;
		margin-top:sum(15rem);
		margin-left:sum(5rem);
		font-size:sum(10rem);
	}
	a{
		float:right;
		font-weight:bold;
		margin-top:sum(5rem);
		margin-right:sum(45rem);
		font-size:sum(10rem);
	}
	#count{
		color:#ff468e;
		position:absolute;
		margin-left:sum(185rem);
		margin-top:sum(20rem);
		font-size:sum(12rem);
	}
}
#price{
	clear:both;
	height:sum(162rem);
	span{
		float:left;
		margin-top:sum(10rem);
		margin-left:sum(10rem);
		font-size:sum(13rem);
	}
	a{
		float:left;
		font-size:sum(12rem);
		margin-left:sum(10rem);
		margin-top:sum(5rem);
	}
	b{
		float:left;
		font-size:sum(23rem);
	}
	del{
		float:left;
		color:#999;
		font-size:sum(9rem);
		margin-left:sum(5rem);
	}
	i{
		float:left;
		clear:both;
		font-size:sum(9rem);
		background:#ffe8ee;
		color:red;
		margin-left:sum(85rem);
		margin-top:sum(-15rem)
	}
	p{
		clear:both;
		font-size:sum(10rem);
		float:left;
		margin-top:sum(20rem);
		color:#999;
		margin-left:sum(10rem);
	}
	.dz{
		font-size:sum(10rem);
		float:left;
		margin-top:sum(20rem);
		color:#999;
		margin-left:sum(100rem);
	}
	.hrl{
		height:sum(1rem);
		width:sum(300rem);
		background:#eee;
		float:left;
		margin-top:sum(10rem);
		margin-left:sum(15rem);
	}
	.so{
		margin-left:sum(5rem);
		font-size:sum(10rem);
	}
	.of{
		margin-left:sum(40rem);
		font-size:sum(10rem);
	}
}
#rail{
	height:sum(10rem);
	background:#eaeaea;
}
#activity{
	height:sum(145rem);
	.kuai{
		float:left;
		margin:sum(10rem);
		font-size:sum(12rem);
		color:#999;
		clear:both;
	}
	.lump{
		float:left;
		clear:both;
		height:sum(40rem);
		width:sum(75rem);
		background:#ff478c;
		color:#fff;
		border-radius:sum(4rem);
		margin:sum(5rem);
		a{
			float:left;
			margin-left:sum(18rem);
			margin-top:sum(5rem);
			font-size:sum(10rem);
		}
		b{
			float:left;
			font-size:sum(20rem);
		}
		.sp{
			clear:both;
			float:left;
			margin-top:sum(-5rem);
			margin-left:sum(10rem);
			font-size:sum(12rem);
			color:#fff;
		}
	}
	.lump2{
		float:left;
		height:sum(40rem);
		width:sum(75rem);
		background:#ff478c;
		color:#fff;
		border-radius:sum(4rem);
		margin:sum(5rem);
		a{
			float:left;
			margin-left:sum(18rem);
			margin-top:sum(5rem);
			font-size:sum(10rem);
		}
		b{
			float:left;
			font-size:sum(20rem);
		}
		.sp{
			clear:both;
			float:left;
			margin-top:sum(-5rem);
			margin-left:sum(10rem);
			font-size:sum(12rem);
			color:#fff;
		}
	}
	.lump4{
		float:left;
		height:sum(40rem);
		width:sum(55rem);
		background:#ff478c;
		color:#fff;
		border-radius:sum(4rem);
		margin:sum(5rem);
		a{
			float:left;
			margin-left:sum(18rem);
			margin-top:sum(5rem);
			font-size:sum(10rem);
		}
		b{
			float:left;
			font-size:sum(20rem);
		}
		.sp{
			clear:both;
			float:left;
			margin-top:sum(-5rem);
			margin-left:sum(5rem);
			font-size:sum(10rem);
			color:#fff;
		}
	}
	.sol{
		margin-top:sum(10rem);
		float:left;
		margin-left:sum(5rem);
		height:sum(1rem);
		width:sum(310rem);
		background:#eee;
	}
	.label{
		float:left;
		a{
			background:#f76c1b;
			font-size:sum(10rem);
			color:#fff;
			margin-left:sum(5rem);
		}
		span{
			font-size:sum(10rem);
			color:#999;
		}
	}
	.label2{
		clear:both;
		float:left;
		margin-top:sum(-10rem);
		a{
			background:#8a4dfd;
			font-size:sum(10rem);
			color:#fff;
			margin-left:sum(5rem);
		}
		span{
			font-size:sum(10rem);
			color:#999;
		}
	}
	p{
		color:#999;
		font-size:sum(10rem);
		margin-left:sum(145rem);
		margin-top:sum(-10rem);
		float:left;
	}
	.dir{
		margin-right:sum(15rem);
		margin-top:sum(-7rem);
		font-size:sum(12rem);
		float:right;
	}	
}
#select{
	clear:both;
	float:left;
	height:sum(40rem);
	line-height:sum(40rem);
	text-align:left;
	margin-left:sum(5rem);
	font-size:sum(10rem);
	a{
		color:red;
	}
	.direction{
		float:right;
		margin-right:sum(15rem);
	}
}
#ral{
	clear:both;
	height:sum(10rem);
	background:#eaeaea;
}
#appraise{
	clear:both;
	 height:sum(320rem);
	 .clas{
	 	font-size:sum(10rem);
	 	color:#999;
	 	margin:sum(5rem);
	 	span{
	 		float:right;
	 		margin-right:sum(10rem);
	 	}
	 }
	 .tag{
	 	float:left;
	 	margin-left:sum(15rem);
	 	margin-top:sum(10rem);
	 	height:sum(20rem);
	 	width:sum(60rem);
	 	line-height:sum(20rem);
	 	text-align:center;
	 	background:#ffe8ee;
	 	color:#ff2255;
	 	font-size:sum(10rem);
	 }
	 .tagt{
	 	float:left;
	 	margin-left:sum(5rem);
	 	margin-top:sum(10rem);
	 	height:sum(20rem);
	 	width:sum(75rem);
	 	line-height:sum(20rem);
	 	text-align:center;
	 	background:#ffe8ee;
	 	color:#ff2255;
	 	font-size:sum(10rem);
	 }
	 .tagta{
	 	float:left;
	 	margin-left:sum(5rem);
	 	margin-top:sum(10rem);
	 	height:sum(20rem);
	 	width:sum(100rem);
	 	line-height:sum(20rem);
	 	text-align:center;
	 	background:#ffe8ee;
	 	color:#ff2255;
	 	font-size:sum(10rem);
	 }
	  .tagtai{
	  	clear:both;
	  	float:left;
	 	margin-left:sum(15rem);
	 	margin-top:sum(5rem);
	 	height:sum(20rem);
	 	width:sum(70rem);
	 	line-height:sum(20rem);
	 	text-align:center;
	 	background:#ffe8ee;
	 	color:#ff2255;
	 	font-size:sum(10rem);
	 }
	  .tagtait{
	  	float:left;
	 	margin-left:sum(5rem);
	 	margin-top:sum(5rem);
	 	height:sum(20rem);
	 	width:sum(80rem);
	 	line-height:sum(20rem);
	 	text-align:center;
	 	background:#ffe8ee;
	 	color:#ff2255;
	 	font-size:sum(10rem);
	 }
	 .tagtaity{
	  	float:left;
	 	margin-left:sum(5rem);
	 	margin-top:sum(5rem);
	 	height:sum(20rem);
	 	width:sum(75rem);
	 	line-height:sum(20rem);
	 	text-align:center;
	 	background:#ffe8ee;
	 	color:#ff2255;
	 	font-size:sum(10rem);
	 }
	 .like{
 		clear:both;
 		float:left;
 		margin-top:sum(20rem);
 		margin-left:sum(10rem);
	 	.lov{
	 		img{
 			float:left;
			height:sum(25rem);
			width:sum(25rem);
			border-radius:50%;
	 		}
	 		span{
 			font-size:sum(12rem);
 			margin-left:sum(5rem);
	 		}
	 	}
	 }
	 .matter{
	 	clear:both;
	 	float:left;
	 	margin-top:sum(5rem);
	 	margin-left:sum(15rem);
	 	font-size:sum(10rem);
	 	color:#999; 	
	 }
	 .Img{
 		float:left;
 		clear:both;
 		margin-left:sum(10rem);
 		height:sum(60rem);
 		width:sum(60rem);
	 	}
	 .Img2{
 		float:left;
 		margin-left:sum(10rem);
 		height:sum(60rem);
 		width:sum(60rem);
	 	}	

	 .mat{
	 	clear:both;
	 	float:left;
	 	margin-left:sum(15rem);
	 	font-size:sum(10rem);
	 	color:#999;
	 }
	 .mal{
		float:left;
		margin-top:sum(20rem);
		margin-left:sum(15rem);
		height:sum(1rem);
		width:sum(300rem);
		background:#eee;
		}
}
#till{
	height:sum(136rem);
	img{
		float:left;
		height:sum(40rem);
		width:sum(40rem);
		margin:sum(10rem);
	}
	p{
      float:left;
	  font-size:sum(10rem);
	  margin-top:sum(15rem);
	}
	.star1{
		float:left;
		margin-top:sum(30rem);
		margin-left:sum(-70rem);
		font-size:sum(10rem);
		color:red;
	}
	.star2{
		float:left;
		margin-top:sum(30rem);
		margin-left:sum(-60rem);
		font-size:sum(10rem);
		color:red;
	}
	.star3{
		float:left;
		margin-top:sum(30rem);
		margin-left:sum(-50rem);
		font-size:sum(10rem);
		color:red;
	}
	.star4{
		float:left;
		margin-top:sum(30rem);
		margin-left:sum(-40rem);
		font-size:sum(10rem);
		color:red;
	}
	.star5{
		float:left;
		margin-top:sum(30rem);
		margin-left:sum(-30rem);
		font-size:sum(10rem);
		color:red;
	}
	a{
		text-decoration:none;
		.into{
			height:sum(24rem);
			width:sum(60rem);
			border:1px solid #ff5777;
			float:right;
			color:#ff5777;
			line-height:sum(24rem);
			text-align:center;
			font-size:sum(12rem);
			margin-top:sum(20rem);
			margin-right:sum(15rem);
		}
	}
	
	.daturn{
		float:left;
		clear:both;
		height:sum(72rem);
		width:sum(115rem);
		.data{
			font-size:sum(15rem);
			margin-left:sum(25rem);
		}
		.shuj{
			font-size:sum(12rem);
			margin-left:sum(35rem);
			margin-top:sum(5rem);
			color:#999;
		}
		.gu{
			float:right;
			margin-top:sum(-40rem);
			height:sum(55rem);
			width:sum(1rem);
			background:#999;
		}
	}
	.daturn2{
			float:left;
			height:sum(72rem);
			width:sum(115rem);
			.data{
				font-size:sum(15rem);
				margin-left:sum(25rem);
			}
		.shuj{
			font-size:sum(12rem);
			margin-left:sum(35rem);
			margin-top:sum(5rem);
			color:#999;
		}
		.gu{
			float:right;
			margin-top:sum(-40rem);
			height:sum(55rem);
			width:sum(1rem);
			background:#999;
		}
	}
	.daturn3{
		float:right;
		height:sum(72rem);
		width:sum(85rem);
		.describe{
			margin-bottom:sum(5rem);
			font-size:sum(10rem);
			color:#999;
			a{
				color:#ff5777;
			}
		}
	}
}
#navigate{
	height:sum(40rem);
	font-size:sum(15rem);
	.nav{
		margin-left:sum(30rem);
		margin-top:sum(10rem);
		height:sum(20rem);
		width:sum(60rem);
		float:left;
	}
	.GPS{
		float:left;
		margin-left:sum(30rem);
		margin-top:sum(10rem);
		height:sum(20rem);
		width:sum(60rem);
	}
	.navigation{
		float:left;
		margin-left:sum(30rem);
		margin-top:sum(10rem);
		height:sum(20rem);
		width:sum(60rem);
	}
}
#introduce{
	height:sum(108rem);
	border:1px solid #d9d9d9;
	border-bottom:none;
	border-left:none;
	border-right:none;
	.xh{
		margin-left:sum(-13rem);
	}
	p{
		font-size:sum(12rem);
		margin:sum(10rem);
	}
	.xh2{
		margin-right:sum(-10rem);
		float:right;
	}
	.dian{
		float:right;
	}
	a{
		font-size:sum(12rem);
		margin-left:sum(10rem);
	}
}
#map{
	img{
		height:sum(480rem);
		width:100%;
	}
}
#state{
	height:sum(74rem);
	a{
		font-size:sum(12rem);
		margin-left:sum(5rem);
	}
	span{
		float:left;
		font-size:sum(12rem);
		margin:sum(5rem);
	}
	img{
		float:left;
		height:sum(54rem);
		width:sum(303rem);
		margin-left:sum(5rem);
	}
}
#brim{
	float:left;
	height:sum(515rem);
	width:sum(294rem);
	margin:sum(13rem);
	font-size:sum(12rem); 
	color:#727272;
	.string{
		height:sum(33rem);
		line-height:sum(33rem);
		text-align:left;
		.size{
			float:left;
		}
		.waistline{
			margin-left:sum(80rem);
			float:left;
		}
		.Bust{
			margin-left:sum(10rem);
			float:left;
		}
		.hipline{
			margin-left:sum(10rem);
			float:left
		}
		.skirt{
			margin-left:sum(10rem);
			float:left;
		}
		.shoulder{
			margin-left:sum(10rem);
			float:left;
		}
	}
	.wire{
		float:left;
		height:sum(1rem);
		width:sum(294rem);
		background:#f4f4f4;
	}
	.string2{
		height:sum(33rem);
		line-height:sum(33rem);
		text-align:left;
		.size2{
			float:left;
		}
		.waistline2{
			color:#ee4868;
			margin-left:sum(90rem);
			float:left;
		}
		.waistline3{
			color:#ee4868;
			margin-left:sum(98rem);
			float:left;
		}
		.waistline4{
			color:#ee4868;
			margin-left:sum(94rem);
			float:left;
		}
		.waistline5{
			color:#ee4868;
			margin-left:sum(100rem);
			float:left;
		}
		.Bust2{
			color:#ee4868;
			margin-left:sum(30rem);
			float:left;
		}
		.hipline2{
			color:#ee4868;
			margin-left:sum(30rem);
			float:left
		}
		.skirt2{
			color:#ee4868;
			margin-left:sum(25rem);
			float:left;
		}
		.shoulder2{
			color:#ee4868;
			margin-left:sum(20rem);
			float:left;
		}
	}
	.wire2{
		float:left;
		height:sum(1rem);
		width:sum(294rem);
		background:#f4f4f4;
	}
	.str{
		height:sum(33rem);
		line-height:sum(33rem);
		text-align:left;
	}
	.sit{
		float:left;
		}
	.waist{
			margin-left:sum(80rem);
			color:#eb4868;
		}

}
#talk{
	clear:both;
	margin-left:sum(15rem);
	height:sum(772rem);
	width:sum(294rem);
	.per{
		height:sum(51rem);
		width:sum(51rem);
		border:5px solid #edeff0;
		margin:0 auto;
		border-radius:50%;
		.persuade{
			height:sum(51rem);
			width:sum(51rem);
			line-height:sum(51rem);
			text-align:center;
			font-size:sum(15rem);
			font-weight:bold;
		}	
	}
	p{clear:both;
		float:left;
		margin-top:sum(10rem);
		margin-left:sum(120rem);
		font-size:sum(10rem);
	}
	.tou{
		float:left;
		clear:both;
		margin-top:sum(2rem);
		margin-left:sum(100rem);
		font-size:sum(10rem);
		color:#cecece;
	}
	.rall{
		clear:both;
		margin:0 auto;
		height:sum(228rem);
		width:sum(228rem);
		img{
			float:left;
			height:sum(102rem);
			width:sum(102rem);
			margin:sum(6rem)
		}
	}
	.chai{
		
		margin:sum(20rem) auto;
		height:sum(198rem);
		width:sum(294rem);
		.kioll{
			float:left;
			height:sum(198rem);
			width:sum(107rem);
			img{
				
				margin-top:sum(63rem);
				height:sum(88rem);
				width:sum(107rem);
			}
		}
		.kill{
			float:right;
			height:sum(198rem);
			width:sum(169rem);
			.kimi{
				height:sum(198rem);
				width:sum(169rem);
			}
		} 
	}
	.over{
		height:sum(224rem);
		width:sum(294rem);
		.waek{
			height:sum(210rem);
			width:sum(294rem);
		}
	}
}
#commodity{
	margin:sum(10rem);
	height:sum(400rem);
	width:sum(294rem);
	img{
		height:sum(400rem);
		width:sum(294rem);
	}
}
#finish{
	height:sum(765rem);
	width:sum(294rem);
	margin:0 auto;
	.pattern{
		float:left;
		margin-top:sum(5rem);
		color:#5e5e5e;
		height:sum(178rem);
		width:sum(95rem);
		img{
			height:sum(141rem);
			width:sum(95rem);
		}
		p{
			font-size:sum(12rem);
		}
		a{
			clear:both;
			float:left;
			font-size:sum(10rem);
		}
		span{
			font-size:sum(10rem);
			float:left;
			margin-left:sum(10rem);
		}
	}
	.pattern2{
		float:left;
		color:#5e5e5e;
		margin-top:sum(5rem);
		margin-left:sum(3rem);
		height:sum(178rem);
		width:sum(95rem);
		
		img{
			height:sum(141rem);
			width:sum(95rem);
		}
		p{
			font-size:sum(12rem);
		}
		a{
			clear:both;
			float:left;
			font-size:sum(10rem);
		}
		span{
			font-size:sum(10rem);
			float:left;
			margin-left:sum(10rem);
		}
	}
}
#floor{
	height:sum(40rem);
	background:#fff;
	position:fixed;
	left:0;
	bottom:0;
	.fittl{
		position:fixed;
		left:0;
		bottom:0;
		height:sum(40rem);
		width:sum(40rem);
		font-size:sum(10rem);
		background:#fff;
		color:#999;
		span{
			float:left;
			margin-left:sum(15rem);
			font-size:sum(12rem);
			color:#999;
			
		}
		.turn{
			float:left;
			font-size:sum(10rem);
			color:#999;
			margin-left:sum(8rem);
		}
	}
	.fittl2{
		position:fixed;
		left:sum(40rem);
		bottom:0;
		height:sum(40rem);
		width:sum(40rem);
		font-size:sum(10rem);
		background:#fff;
		border:1px solid #eee;
		border-right:none;
		border-top:none;
		border-bottom:none;
		span{
			float:left;
			margin-left:sum(15rem);
			font-size:sum(12rem);
			color:#999;
		}
		.turn2{
			float:left;
			font-size:sum(10rem);
			color:#999;
			margin-left:sum(8rem);
		}
		a{
			color:#999;
			text-decoration:none;
		}
	}
	.sitting{
		position:fixed;
		left:sum(80rem);
		bottom:0;
		font-size:sum(10rem);
		width:sum(120rem);
		line-height:sum(40rem);
		text-align:center;
		background:pink;
		a{
			color:red;
			text-decoration:none;
		}
	}
	#box{
        width:sum(320rem);
        height:sum(323rem);
        background:#fff;
        display: none;
        position:absolute;
        z-index:10008;
       
    }
    img{
    	float:left;
        height:sum(126rem);
        width:sum(84rem);
        margin-left:sum(15rem);
        margin-top:sum(-60rem);
    }
	p{
		float:left;
		color:#333;
		margin-left:sum(10rem);
		margin-top:sum(10rem);
		font-size:sum(10rem);
	}
	span{
		float:left;
		color:#333;
		margin-top:sum(10rem);
		font-size:sum(20rem);
	}
	#close{
		float:right;
		color:#999;
		font-size:sum(12rem);
		margin-right:sum(10rem);
		margin-top:sum(10rem);
		background:#fff;
		outline:none;
		border:none;
	}
	.repertory{
		clear:both;
		float:left;
		color:#999;
		margin-left:sum(110rem);
		margin-top:sum(-30rem);
		font-size:sum(10rem);
	}
	.hue{
		clear:both;
		float:left;
		color:#999;
		margin-left:sum(110rem);
		margin-top:sum(-15rem);
		font-size:sum(10rem);
	}
	.choice{
		clear:both;
		float:left;
		height:sum(210rem);
		width:sum(320rem);
		.tinct{
			font-size:sum(12rem);
			color:#aaa;
			margin:sum(5rem);
		}
		.piece{
			float:left;
			margin:sum(5rem);
			height:sum(26rem);
			width:sum(50rem);
			color:red;
			line-height:sum(26rem);
			text-align:center;
			font-size:sum(10rem);
			border:1px solid red;
			border-radius:sum(3rem);
		}
		.piece2{
			float:left;
			margin:sum(5rem);
			height:sum(26rem);
			width:sum(50rem);
			color:#aaa;
			line-height:sum(26rem);
			text-align:center;
			font-size:sum(10rem);
			border:1px solid #aaa;
			border-radius:sum(3rem);
		}
		.piece3{
			float:left;
			margin:sum(5rem);
			height:sum(26rem);
			width:sum(50rem);
			color:#aaa;
			line-height:sum(26rem);
			text-align:center;
			font-size:sum(10rem);
			border:1px solid #aaa;
			border-radius:sum(3rem);
		}
		.piece4{
			float:left;
			margin:sum(5rem);
			height:sum(26rem);
			width:sum(50rem);
			color:#aaa;
			line-height:sum(26rem);
			text-align:center;
			font-size:sum(10rem);
			border:1px solid #aaa;
			border-radius:sum(3rem);
		}
		.piece5{
			clear:both;
			float:left;
			margin:sum(5rem);
			height:sum(26rem);
			width:sum(50rem);
			color:#aaa;
			line-height:sum(26rem);
			text-align:center;
			font-size:sum(10rem);
			border:1px solid #aaa;
			border-radius:sum(3rem);
		}
		.piece6{
			float:left;
			margin:sum(5rem);
			height:sum(26rem);
			width:sum(50rem);
			color:#aaa;
			line-height:sum(26rem);
			text-align:center;
			font-size:sum(10rem);
			border:1px solid #aaa;
			border-radius:sum(3rem);
		}
		.piece7{
			float:left;
			margin:sum(5rem);
			height:sum(26rem);
			width:sum(50rem);
			color:red;
			line-height:sum(26rem);
			text-align:center;
			font-size:sum(10rem);
			border:1px solid red;
			border-radius:sum(3rem);
		}
		.size{
			clear:both;
			font-size:sum(12rem);
			color:#aaa;
			margin:sum(5rem);
		}
		.but1{
			float:left;
			border:1px solid #bbbbbb;
			background:#fff;
			color:#bbbbbb;
			outline:none;
			height:sum(22rem);
			width:sum(25rem);
			margin-left:sum(10rem);
			border-top-left-radius:sum(3rem);
			border-bottom-left-radius:sum(3rem);
			border-right:none;

		}
		.sut{
			float:left;
			border:1px solid #bbbbbb;
			background:#fff;
			color:#b0b0b0;
			outline:none;
			height:sum(20rem);
			width:sum(30rem);
			line-height:sum(20rem);
			text-align:center;
			
		}
		.but2{
			float:left;
			border:1px solid #bbbbbb;
			background:#fff;
			outline:none;
			color:red;
			height:sum(22rem);
			width:sum(25rem);
			border-top-right-radius:sum(3rem);
			border-bottom-right-radius:sum(3rem);
			border-left:none;
		}
	}
    #btn{
        position:fixed;
		color:#fff;
		right:0;
		bottom:0;
		font-size:sum(10rem);
		width:sum(120rem);
		line-height:sum(40rem);
		text-align:center;
		background:#ff5778;
		z-index:1;
    }
    .inp{
    	position:absolute;
		bottom:0;
    	margin-top:sum(15rem);
        height:sum(40rem);
        width:sum(320rem);
        background:#ff527e;
        line-height:sum(40rem);
        text-align:center;
        font-size:sum(12rem);
        font-weight:bold;
        a{ 
    	color:#fff;
        text-decoration:none;
   	 	}
    }
}
#navs{
	position:fixed;
	right:sum(5rem);
	bottom:sum(60rem);
	.guidance{
		height:sum(30rem);
		width:sum(30rem);
		line-height:sum(13rem);
		text-align:center;
		background:black;
		opacity:0.5;
		border-radius:50%;
		a{
			color:#fff;
			text-decoration:none;
			.dance{	
				font-weight:bold;
				font-size:sum(8rem);
			}
			.gui{
				font-weight:bold;
				font-size:sum(8rem);
			}
		}
		
	}
	.guidance2{
			height:sum(30rem);
			width:sum(30rem);
			margin-top:sum(10rem);
			line-height:sum(30rem);
			text-align:center;
			background:black;
			opacity:0.5;
			border-radius:50%;
			a{
				color:#fff;
				text-decoration:none;
				.gui2{
					font-weight:bold;
					font-size:sum(8rem);
					color:#fff;
				}
			}
	}
	.guidance3{
			height:sum(30rem);
			width:sum(30rem);
			margin-top:sum(10rem);
			line-height:sum(13rem);
			text-align:center;
			background:black;
			opacity:0.5;
			border-radius:50%;
		span{	
			font-weight:bold;
			font-size:sum(8rem);
			color:#fff;
		}
		.gui3{
			font-weight:bold;
			font-size:sum(8rem);
			
			a{
				color:#fff;
				text-decoration:none;
			}
		}
	}
}

