@function sum($num){
	@return $num/20;
}
span{
	font-family:"iconfont";
}
#logging{
	height:sum(580rem);
	.top{
		height:sum(40rem);
		background:#fafafa;
		a{
			text-decoration:none;
			span{
				
				float:left;
				color:#7d7d7d;
				margin-top:sum(15rem);
				margin-left:sum(20rem);
				font-size:sum(12rem);
			}
		}
		
		p{
			float:left;
			color:#5e5e5e;
			font-weight:bold;
			margin-top:sum(10rem);
			margin-left:sum(120rem);
			font-size:sum(15rem);
		}
		em{
			float:right;
			color:#5e5e5e;
			margin-right:sum(5rem);
			margin-top:sum(12rem);
			font-size:sum(12rem);
		}
	}
	.hr{
		height:sum(1rem);
		width:100%;
		background:#c9c7c8;
	}
	.accounts{
		color:#666;
		margin-left:sum(135rem);
		margin-top:sum(40rem);
		font-size:sum(12rem);
	}
	.accounts2{
		color:#666;
		margin-left:sum(150rem);
		margin-top:sum(40rem);
		font-size:sum(12rem);
	}
	.import{
		color:#f1f1f1;
		margin-top:sum(15rem);
		height:sum(32rem);
		line-height:sum(32rem);
		text-align:center;
		#inp{
			outline:none;
			height:sum(30rem);
			line-height:sum(30rem);
			text-align:center;
			width:sum(300rem);
			border-left:none;
			border-right:none;
			border-top:none;
			font-size:sum(20rem);
		}
	}
	.import2{
		color:#f1f1f1;
		margin-top:sum(15rem);
		height:sum(32rem);
		line-height:sum(32rem);
		text-align:center;
		#pwd{
			outline:none;
			height:sum(30rem);
			line-height:sum(30rem);
			text-align:center;
			width:sum(300rem);
			border-left:none;
			border-right:none;
			border-top:none;
			font-size:sum(20rem);
		}
	}
	#btn{
		border:none; 
		outline:none;
		height:sum(41rem);
		width:sum(294rem);
		margin-top:sum(22rem);
		margin-left:sum(15rem);
		background:#ff1877;
		color:#fff;
		font-size:sum(15rem);
		line-height:sum(41rem);
		text-align:center;
	}
	.link{
		font-size:sum(10rem);
		
		float:left;
		margin-left:sum(12rem);
		margin-top:sum(20rem);
		a{
			color:#999;
			text-decoration:none;
		}
	}
	.ling{
		font-size:sum(10rem);
		color:#ff5777;
		float:right;
		margin-right:sum(12rem);
		margin-top:sum(20rem);
		a{
			color:#999;
			text-decoration:none;
		}
	}
	.tally{
		float:left;
		margin-top:sum(35rem);
		margin-left:sum(25rem);
		height:sum(20rem);
		width:sum(270rem);
		.tall{
			float:left;
			height:sum(1rem);
			width:sum(110rem);
			background:#f1f1f1;
		}
		.tor{
			margin-top:sum(-15rem);
			float:left;
			margin-left:sum(15rem);
			color:#f1f1f1;
		}
		.tal{

			float:right;
			margin-left:sum(10rem);
			height:sum(1rem);
			width:sum(110rem);
			background:#f1f1f1;
		}
	}
	img{
		height:sum(88rem);
		width:sum(91rem);
		margin-top:sum(30rem);
		margin-left:sum(115rem);

	}
}