@function sum($num){
	@return $num/20;
}
span{
	font-family:"iconfont";
}
#logging{
	// height:100%;
	// width:100%;
	.top{
		height:sum(40rem);
		background:#fafafa;
		span{
			float:left;
			color:#7d7d7d;
			margin-top:sum(15rem);
			margin-left:sum(20rem);
			font-size:sum(12rem);
		}
		p{
			float:left;
			color:#5e5e5e;
			margin-top:sum(10rem);
			margin-left:sum(100rem);
			font-size:sum(15rem);
		}
		.till{
			float:right;
			color:#5e5e5e;
			margin-right:sum(-15rem);
			margin-top:sum(12rem);
			font-size:sum(12rem);
		}
		.pan{
			float:right;
			margin-right:sum(5rem);
			height:sum(15rem);
			width:sum(15rem);
		}
	}
	.hr{
		height:sum(1rem);
		width:100%;
		background:#c9c7c8;
	}
	.rail{
		height:sum(15rem);
		background:#f6f6f6;
	}
	.trabecula{
		height:sum(32rem);
		line-height:sum(32rem);
		text-align:left;
		border-right:none;
		border-left:none;
		border:1px solid #e5e5e5;
		.yuan{
			float:left;
			margin:sum(10rem);
			height:sum(10rem);
			width:sum(10rem);
			border-radius:50%;
			border:2px solid #cdcdcd;
		}
		.willian{
			float:left;
			font-size:sum(12rem);
			a{
				color:#5e5e5e;
				text-decoration:none;
			}
		}
		.juan{
			float:right;
			margin-right:sum(5rem);
			font-size:sum(12rem);
			a{
				color:#5e5e5e;
				text-decoration:none;
			}
		}
	}
	.stuck{
		float:left;
		height:sum(109rem);
		.yu{
			float:left;
			margin-left:sum(10rem);
			margin-top:sum(45rem);
			height:sum(10rem);
			width:sum(10rem);
			border-radius:50%;
			border:2px solid #cdcdcd;
		}
		a{
			text-decoration:none;
			img{
			float:left;
			height:sum(80rem);
			width:sum(57rem);
			margin:sum(15rem);
		}
		span{
			color:#5e5e5e;
			font-weight:bold;
			margin-left:sum(10rem);
			font-size:sum(12rem);
		}
		p{
			color:#999;
			font-size:sum(12rem);
		}
		del{
			float:left;
			color:#999;
			font-size:sum(12rem);
		}
		i{
			float:right;
			margin-right:sum(10rem);
			color:#999;
			font-size:sum(10rem);
		}
		}
	}
	.sun{
		clear:both;
		height:sum(1rem);
		background:#d8d8d8;
	}
	.lump{
		height:100%;
		background:#f6f6f6;
	}
	.floor{
		position:fixed;
		left:0;
		bottom:0;
		height:sum(42rem);
		background:#fff;
		width:100%;
		border:1px solid #d8d8d8;
		border-left:none;
		border-right:none;
		border-bottom:none;
		.down{
			float:left;
			margin-left:sum(10rem);
			margin-top:sum(15rem);
			height:sum(10rem);
			width:sum(10rem);
			line-height:sum(10rem);
			text-align:center;
			border-radius:50%;
			border:2px solid #cdcdcd;
		}
		.foor{
			float:left;
			margin-left:sum(10rem);
			margin-top:sum(12rem);
			font-size:sum(12rem);
			color:#5e5e5e;
		}
		p{
			float:left;
			margin-left:sum(10rem);
			margin-top:sum(12rem);
			font-size:sum(12rem);
			color:#ee4566;
		}
		.over{
			float:right;
			line-height:sum(30rem);
			text-align:center;
			height:sum(30rem);
			width:sum(84rem);
			background:#ff5777;
			color:#fff;
			font-size:sum(12rem);
			margin-right:sum(20rem);
			margin-top:sum(5rem);
			border-radius:sum(3rem);
			a{
				color:#fff;
				text-decoration:none;
			}
		}
	}
	
}